%div{id: 'setup', class: 'col-xs-12 row'}
  %div{id: 'setup-strain', class: 'col-xs-6 svcenter'}
  %div{id: 'setup-profession', class: 'col-xs-6 svcenter'}
  %div{id: 'setup-search', class: 'col-xs-12 svcenter'}
    %div{class: 'col-xs-6 svcenter'}
      %input{type: 'text', class: 'form-control col-xs-6', id: 'search-input', placeholder: 'Search skills...'}
    %div{class: 'col-xs-6 svcenter'}
      %label
        %input{type: 'checkbox', id: 'only-available-checkbox'} Available Only &nbsp;
        
      %input{type: 'checkbox', id: 'is-touch-device'} Enable Touch Input

%div{class: 'row body-container'}
  %div{id: 'graphical', class: 'graphical-container col-xs-6' }
    %div{id: 'graphical-list', class: 'list-group'}
  %div{id: 'builder', class: 'builder-container col-xs-6'}
    %div{class: 'alert alert-success alert-dismissible', id: 'alert-desktop', hidden: true}
      %button{type: 'button', class: 'close'}
        %span &times;
      You can drag skills and drop them to green regions.

    %div{class: 'alert alert-success alert-dismissible', id: 'alert-mobile', hidden: true}
      %button{type: 'button', class: 'close'}
        %span &times;
      You are on mobile device.
      %br
      To move skills between boxes, tap one or more skills then tap green regions to move selected skills.

    %div{id: 'error-log', class: 'col-xs-12 svupdown text-danger'}

    %div{class: 'builder-header'}
      Acquired skills
      %span{class: 'badge', id: 'acquired-xp'} 0

    %div{id: 'acquired', class: 'col-xs-12 svupdown skill-droppable'}
      %ul{class: 'list-group', id: 'acquired-list'}
    %br
    %div{class: 'builder-header'}
      Planned skills
      %span{class: 'badge', id: 'planned-xp'} 0
    %div{id: 'planned', class: 'col-xs-12 svupdown skill-droppable'}
      %ul{class: 'list-group', id: 'planned-list'}

    

:javascript
  var is_builder = true;

= javascript_include_tag 'drag_drop_functor'
= javascript_include_tag 'tree_builder'
= javascript_include_tag 'dynamic_builder'
= javascript_include_tag 'skill_utility'

:css
  body {
    overflow-x: hidden;
    font-size: 12px;
  }

  .alert {
    padding: 8px 24px 8px 8px;
  }

  .btn {
    font-size: 12px;
  }

  .popover {
    font-size: 12px;
  }

  .popover-content {
    padding: 4px 8px;
  }

  .list-group-item {
    padding: 4px 8px;
  }

  .form-control {
    font-size: 12px;
  }

  .badge {
    margin-top: -1px;
    margin-bottom: -1px;
  }

  .dropdown-menu {
    font-size: 12px;
  }

  #setup {
    z-index: 1000;
    background-color: white;
    padding-right: 0px;
    margin-left: -15px;
  }

  #acquired, #planned {
    height: 256px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    //z-index: -10;
    position: relative;
  }

  #graphical {
    overflow-y: auto;
    overflow-x: hidden;

    //overflow: visible;
    //padding-left: 16px;
    padding-right: 6px;
    position: relative;
  }

  #builder {
    overflow-y: auto;
    position: relative;
    padding-left: 0px;
    padding-right: 16px;
  }

  .ui-draggable-dragging {
  }

  .body-container {
    //z-index: -100;
    background-color: transparent;
    position: relative;
  }

  .multiselect-container li a {
    padding: 0;
  }

  .skill-droppable {
    padding-left: 0px;
    padding-right: 0px;
  }

  .affix {
    top: 64;
  }

  .builder-header {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

  .preq {
    font-style: italic;
    color: #a94442;
  }

  .setup-padding {
    margin-bottom: 2em;
  }

  .svcenter {
    padding: 0.2em;
  }

  .svupdown {
    margin-bottom: 1em;
  }

  .graphical-container {
    overflow-y: auto;
  }

  .link-faded {
    color: #aaa;
  }

  .clickable-skill{
    cursor: pointer
  }

  .list-group-item.faded {
    background-color: #eee;
    color: #aaa
  }

  .thin-divider {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .popover {
    cursor: default;
  }

  .skill-not-accessible {
    color: #aaa;
    text-decoration: line-through;
  }

  .skill-cheapest {
    font-weight: 800;
    color: #3c763d;
  }

  .drag-simulable {
    background-color: #fcf3cf;
  }